.boxin {
    
    width: 50%;
    margin : auto;
    padding: 2%;

  
  }

  .drop {
  	color: #dc143c;
  	padding-right: 40px;
  }


  .inline {
  	display: inline;
  }

  .font {
  	font-family: "Courier New", Courier, monospace;
  }

  .mar {
    margin-top: 15px;
  }
  .big {
  
    
    margin-left : 9%;
    margin-right: 9%;
    margin-top: 5%;



  }