@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Medium.ttf');

}
@font-face {
  font-family: 'PT Sans';
  src : url('PT_Sans-Web-Regular.ttf');
}
.btn-round{
border-radius: 30px;
}
.card-round{
  border-radius: 45px;
}
input:hover{
    border-color:  rgba(76, 70, 70,0.5);
  box-shadow: 0 0px 0px rgba(76, 70, 70,0.5) inset, 0 0 8px rgba(76, 70, 70,0.5);
  outline: 0 none;
}

#username,#password {
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 25px;
    border: 1px solid #e07781;
    text-align: inherit;
    font-size: 20px;
    width: 500px;
}
#username:hover,#password:hover{
    border-color:  rgba(182,50,50,.8);
  box-shadow: 0 0px 0px rgba(182,50,50,.8) inset, 0 0 8px rgba(182,50,50,.8);
  outline: 0 none;
}
.drop {
  	color: #dc143c;
  	padding-right: 40px;
  }



.jumbotron:hover {
  border-color:  rgba(182,50,50,.8);
  box-shadow: 0 0px 0px rgba(182,50,50,.8) inset, 0 0 8px rgba(182,50,50,.8);
  outline: 0 none;
}

.card:hover {
  border-color:  rgba(50,50,50,.8);
  box-shadow: 0 0px 0px rgba(50,50,50,.8) inset, 0 0 8px rgba(50,50,50,.8);
  outline: 0 none;
}
  .inline {
  	display: inline;
  }

  .font1 {
  	font-family: "Courier New", Courier, monospace;
    font-weight: 800;
  }

  .font2{
    font-family: 'PT Sans', sans-serif;

  }

  .mar {
    margin-top: 15px;
  }
  .big {
  
    
    margin-left : 9%;
    margin-right: 9%;
    margin-top: 5%;
  }
  .marg {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

.mt-10{
  margin-top: 80px;
} 
#h1 {
  background-color: rgba(77,191,288,0.7);

}

#h2 {
  background-color: rgba(52, 238, 52,0.5);


}
#h3 {
  background-color: rgba(230, 19, 19,0.5);


}
#h4 {
  background-color: rgba(76, 70, 70,0.5);
}
