<div class = "font2 text-center">
	<button class="btn  btn-round btn-lg font1 mb-4" type="button" id ="h3">Double click on donor to delete from database</button>
<!-- 			<button type="button" class="btn btn-warning btn-lg btn-round mt-3 mb-2" onclick="location.href='./1'">Try Again</button>
 -->
	<table class="table table-hover" id = "tablee" onclick="addRow(this.id)">
		<thead>
	    <tr>
	      <th scope="col">Blood ID</th>
	      <th scope="col">Haemo</th>
	      <th scope="col">WBC</th>
	      <th scope="col">RBC</th>
	      <th scope="col">Platelet</th>
	      <th scope="col">Date</th>
	      <th scope="col">Donor ID</th>
	      <th scope="col">Org ID</th>
	      <th scope="col">Branch ID</th>

	    </tr>
	  </thead>
	  <tbody >
	    {% for row in data %}
	        	<tr> 
		        {% for d in row %}
		            <td>{{ d }}</td>
		        {% endfor %}
		        </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
	