<!DOCTYPE html>
<html>
<head>
	<title>Blood Donation</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customcss.css') }}"> 
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/bootstrap.css"> 
 	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/all.css">
 	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/customcss.css"> 
</head>
<body class = "font2"> 
	
	<div class="card text-white card-round border-dark mx-auto mt-10" style="max-width: 50%;">
		<div class="card-body text-dark text-center mx-auto">
			<h3> Oops! Looks like you got it wrong!</h3>
			<hr>		
			<button type="button" class="btn btn-warning btn-lg btn-round mt-3 mb-2" onclick="location.href='./'">Try Again</button>
		</div>
	</div>
</body>
</html>