<div class = "font1">


	<div class="card border-dark mb-3 text-center card-round mx-auto" style="max-width: 18rem;">
		<div class="card-header" id = "h3">View</div>
		<div class="card-body text-primary">
			<div class="btn-group-vertical" role="group" aria-label="Basic example">
				<button class="btn btn-outline-danger inner btn-round" type="button" id = "viewdonor" onclick="viewdonor()">Donor </button>
				<button class="btn btn-outline-danger inner btn-round" type="button" id = "vieworg">Organisation/Branch</button>
			</div>
		</div>
	</div>
</div>
