
	<div class = "font2">
		<div class="card card-round border-danger mb-3 mx-auto mt-5" style="max-width: 50%;">
			<div class="card-header text-center" id = "h3">	<h4> Enter organisation's information</h4></div>
			<div class="card-body text-primary text-center mx-auto">

				
				<div class="input-group mb-3 marg mx-auto">
				  	<div class="input-group-prepend">
				    	<span class="input-group-text" id="basic-addon1">Organisation ID</span>
				  	</div>
				  	<input type="text" class="form-control" id = "oid" placeholder="Organisation ID" aria-label="OrganisationID" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-3 marg mx-auto">
				  	<div class="input-group-prepend">
				    	<span class="input-group-text" id="basic-addon1">Organisation Name</span>
				  	</div>
				  	<input type="text" class="form-control" id = "Oname" placeholder="Organisation Name" aria-label="name" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-3 marg mx-auto">
				  	<div class="input-group-prepend">
				    	<span class="input-group-text" id="basic-addon1">Number of branches</span>
				  	</div>
				  	<input type="text" class="form-control" id = "no" placeholder="Number of branches" aria-label="no" aria-describedby="basic-addon1">
				</div> 
			</div>
		</div>
		<div class="card card-round border-danger mb-3 mx-auto mt-5" style="max-width: 50%;">
			<div class="card-header text-center" id = "h3">	<h4> Enter branch information </h4></div>
			<div class="card-body text-primary text-center mx-auto">
			
				<div class="input-group mb-3 marg mx-auto">
				  	<div class="input-group-prepend">
			    		<span class="input-group-text" id="basic-addon1">Branch ID</span>
					</div>
				  	<input type="text" class="form-control" id = "brid" placeholder="Branch ID" aria-label="BranchID" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-3 marg mx-auto">
				  	<div class="input-group-prepend">
				    	<span class="input-group-text" id="basic-addon1">Address</span>
				  	</div>
				  	<input type="text" class="form-control" id = "braddr" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-3 marg mx-auto">
				  	<div class="input-group-prepend">
				    	<span class="input-group-text" id="basic-addon1">Phone number</span>
				  	</div>
				  	<input type="text" class="form-control" id = "brphno" placeholder="Area code - Number" aria-label="brphno" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>
			<div id = "status"></div>
	<div class="text-center"><button type="button" class="btn btn-dark" onclick = "insorg()" style="margin-bottom: 15px;">Submit</button>
	</div>
	</div>
	