
	<div class="jumbotron font1">
		<div class="text-center">
			<span class="drop">
				<i class="fas fa-tint fa-4x"></i>
			</span>
	  		<h1 class="display-4 inline">Blood Bank Database</h1> 
	  	</div>
  	
  		<hr class="my-4 text-center">
  		<p class="text-center">Database for maintaining and locating blood reservoirs</p>
 
  			
  				<button class = "btn-round bg-light" id = "home" onclick="wlogin(this.id)"><i class="fas fa-home fa-2x"></i> Home</button>
  	
  			<button class = "btn-round bg-light" id = "logout" onclick="location.href='./'"><i class="fas fa-sign-out-alt fa-2x"></i>Logout</button>		


	</div>
	<div id = "replace">
		<div class = "font1 text-center">
			<button class = "btn btn-light btn-sm btn-round mt-3" id = "btnn"><h3 class="text-center"> Choose required option</h3></button>
			<br>
			<div class = "card-deck justify-content-center mt-5">
				<div class="card border-primary mb-3 text-center card-round" style="max-width: 18rem;">
					<div class="card-header" id = "h1">Insert</div>
					<div class="card-body text-primary">
					  	<div class="btn-group-vertical" role="group" aria-label="Basic example">
					  		<button class="btn btn-outline-info inner btn-round" type="button" id ="insdonor" onclick="clicky(this.id)">Donor </button>
							<button class="btn btn-outline-info inner btn-round" type="button" id ="insorg" onclick="clicky(this.id)">Organisation/Branch</button>
						</div>
					</div>
				</div>

				<div class="card border-success mb-3 text-center card-round" style="max-width: 18rem;">
					<div class="card-header" id = "h2">Update</div>
					<div class="card-body text-primary">
						<div class="btn-group-vertical" role="group" aria-label="Basic example">
							<button class="btn btn-outline-success inner btn-round" type="button" id = "upddonor" onclick="clicky(this.id)">Donor </button>
							<button class="btn btn-outline-success inner btn-round" type="button" id ="updorg" onclick="clicky(this.id)">Organisation/Branch</button>
						</div>
					</div>
				</div>

				<div class="card border-danger mb-3 text-center card-round" style="max-width: 18rem;">
					<div class="card-header" id = "h3">Delete</div>
					<div class="card-body text-primary">
						<div class="btn-group-vertical" role="group" aria-label="Basic example">
							<button class="btn btn-outline-danger inner btn-round" type="button" id = "deldonor" onclick="clicky(this.id)">Donor </button>
							<button class="btn btn-outline-danger inner btn-round" type="button" id = "orgdel" onclick="clicky(this.id)">Organisation</button>
							<button class="btn btn-outline-danger inner btn-round" type="button" id = "branchdel" onclick="clicky(this.id)">Branch</button>

					</div>
					</div>
				</div>
				<div class="card border-dark mb-3 text-center card-round" style="max-width: 18rem;">
					<div class="card-header" id = "h4">View</div>
					<div class="card-body text-primary">
						<div class="btn-group-vertical" role="group" aria-label="Basic example">
							<button class="btn btn-outline-dark inner btn-round" type="button" id = "viewdonor" onclick="clicky(this.id)">Donor </button>
							<button class="btn btn-outline-dark inner btn-round" type="button" id = "vieworg" onclick="clicky(this.id)">Organisation/Branch</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

