<!DOCTYPE html>
<html>
<head>
	<title>Blood Donation</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customcss.css') }}"> 
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/bootstrap.css"> 
 	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/all.css">
 	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/customcss.css"> 
</head>
<body class = "font2"> 

<div class="container">
  <div class="row mt-10">
    <div class="col-md-4">
		<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name</button>
		<div class="dropdown-menu">
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text">Donor ID</span>
				  </div>
				  <input type="text" class="form-control" placeholder="DID" aria-label="DID" aria-describedby="basic-addon1">
			</div>
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text">New Name</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Full Name" aria-label="FullName" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center dropdown-item">
	    			<button type="button" class="btn btn-dark btn-round"> Update </button>
			</div>
		</div>
	</div>
    <div class="col-md-4">
		<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phone Number</button>
		<div class="dropdown-menu">
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >Donor ID</span>
				  </div>
				  <input type="text" class="form-control" placeholder="DID" aria-label="DID" aria-describedby="basic-addon1">
			</div>
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >New Phone</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Phone Number" aria-label="phone" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center dropdown-item">
	    			<button type="button" class="btn btn-dark btn-round"> Update </button></a>
			</div>
		</div>
	</div>
    <div class="col-md-4">
		<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Weight</button>
		<div class="dropdown-menu">
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >Donor ID</span>
				  </div>
				  <input type="text" class="form-control" placeholder="DID" aria-label="DID" aria-describedby="basic-addon1">
			</div>
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >New Weight</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Weight" aria-label="Weight" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center dropdown-item">
	    			<button type="button" class="btn btn-dark btn-round"> Update </button></a>
			</div>
		</div>
	</div>	

  </div>
</div>


<!-- 	<script type="text/javascript" src = "{{url_for('static',filename='javascript/bootstrap.bundle.min.js')}}"></script>
 -->
     <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/bootstrap.bundle.min.js"></script>


<!-- 	<script type="text/javascript" src = "{{url_for('static',filename='javascript/jquery-3.3.1.min.js')}}"></script>
 --><!--     <script type="text/javascript" src="{{url_for('static',filename='javascript/scripts.js')}}"></script>
 -->     <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/scripts.js"></script>
    <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/jquery-3.3.1.min.js"></script>


</body>
</html>

