
<div class="container font2 mb-2">
  <div class="row mt-10">
    <div class="col-md-4">
		<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name</button>
		<div class="dropdown-menu">
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text">Donor ID</span>
				  </div>
				  <input type="text" class="form-control " placeholder="DID" id = "did1" aria-label="DID" aria-describedby="basic-addon1">
			</div>
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text">New Name</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Full Name" id="name" aria-label="FullName" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center dropdown-item">
	    			<button type="button" class="btn btn-dark btn-round" id = "updname" onclick="upddonor(this.id)"> Update </button>
			</div>
		</div>
	</div>
    <div class="col-md-4">
		<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phone Number</button>
		<div class="dropdown-menu">
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >Donor ID</span>
				  </div>
				  <input type="text" class="form-control " placeholder="DID" id = "did2" aria-label="DID" aria-describedby="basic-addon1">
			</div>
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >New Phone</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Phone Number" id = "phone" aria-label="phone" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center dropdown-item">
	    			<button type="button" class="btn btn-dark btn-round" id = "updphone" onclick="upddonor(this.id)"> Update </button>
			</div>
		</div>
	</div>
    <div class="col-md-4">
		<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Weight</button>
		<div class="dropdown-menu">
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >Donor ID</span>
				  </div>
				  <input type="text" class="form-control " placeholder="DID" id = "did3" aria-label="DID" aria-describedby="basic-addon1">
			</div>
		    <div class="input-group mb-3 dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >New Weight</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Weight" id = "weight" aria-label="Weight" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center dropdown-item">
	    			<button type="button" class="btn btn-dark btn-round" id = "updweight" onclick="upddonor(this.id)"> Update </button>
			</div>
		</div>
	</div>	

  </div>

</div>
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content btn-round">
      <div class="modal-header">
        <h5 class="modal-title" id="modalhead"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 		<h4 id="modalbody"></h4>
 	</div>
    </div>
  </div>
</div>


