<div class = "text-center">
	<button class="btn btn-light btn-sm btn-round mt-3 updbtn"><h3 class="text-center"> Choose required organisation info to update</h3></button>
</div>

	
<div class = "card-deck justify-content-center mt-5">
	<div class="card border-primary mb-3 text-center card-round" id = "c1" style="max-width: 18rem;">
		<div class="card-header" id = "h1">Address</div>
		<div class="card-body text-primary">
			<form>
			    <div class="form-row justify-content-center">
			    	<div class="col-sm-5">
				      	<input type="text" class="form-control btn-round" id="oid2" placeholder="Org ID">
					</div>
			
			   		<div class="col-sm-5">
						<input type="text" class="form-control btn-round" id ="brid2" placeholder="Branch ID">
					</div>
				</div>
			</form>

			<div class="input-group mt-2">
				
				<input type="text" class="form-control btn-round" id = "addr" placeholder="New Address" aria-label="addr" aria-describedby="basic-addon1">
			</div>
			<h6 class="text-center text-dark mt-2 mb-1"> Distances to each hospital</h6>
			<div class="input-group">
				<div class="container font 2 mb-2 mt-2">
				  	<div class="row justify-content-md-center">
				    	<div class="col">
					
							<form>
								<div class="form-row">
								    	<div class="col-sm-4">
									      	<input type="number" id = "ohid1" max = "60" min = "0" step = "0.01" class="form-control btn-round"  placeholder="H1">
										</div>
								
								   		<div class="col-sm-4">
											<input type="number" id = "ohid2" max = "60" min = "0" step = "0.01" class="form-control btn-round" placeholder="H2">
										</div>
										<div class="col-sm-4">
											<input type="number" id = "ohid3" max = "60" min = "0" step = "0.01" class="form-control btn-round" placeholder="H3">
										</div>
									</div>
							</form>
						
						</div>

				   </div>
				</div>
			</div>
			<div class = "text-center">
	    		<button type="button" class="btn btn-dark btn-round" id = "orgaddr" onclick="upddonor(this.id)"> Update </button>
			</div>
		</div>
	</div>

	<div class="card border-success mb-3 text-center card-round" id = "c2" style="max-width: 18rem;">
		<div class="card-header" id = "h2">Organisation Name</div>
		<div class="card-body text-primary">
			<form>
				<div class="input-group">
					<div class="input-group-prepend">
					   <span class="input-group-text btn-round"  >Org ID</span>
					</div>
					<input type="text" class="form-control btn-round" id = "oid1" placeholder="OID" aria-label="OID" aria-describedby="basic-addon1">
				</div>
		    	<div class="input-group mt-2">
					<div class="input-group-prepend">
					   <span class="input-group-text btn-round"  >New Name</span>
					</div>
					<input type="text" class="form-control btn-round" id = "name" placeholder="New Name" aria-label="name" aria-describedby="basic-addon1"	>
				</div>
				<div class = "text-center mt-2">
	    			<button type="button" class="btn btn-sm btn-dark btn-round" id = "orgname" onclick="upddonor(this.id)"> Update </button>
				</div>
			</form>			
		</div>
	</div>

	<div class="card border-danger mb-3 text-center card-round" style="max-width: 18rem;">
		<div class="card-header" id = "h3">Phone Number</div>
		<div class="card-body text-primary">
		    <div class="input-group">
				  <div class="input-group-prepend">
				    <span class="input-group-text btn-round"  >Org ID</span>
				  </div>
				  <input type="text" class="form-control btn-round" id = "oid" placeholder="OID" aria-label="OID" aria-describedby="basic-addon1">
			</div>
			<div class="input-group mt-2">
				  <div class="input-group-prepend">
				    <span class="input-group-text btn-round" >Branch ID</span>
				  </div>
				  <input type="text" class="form-control btn-round" id = "brid" placeholder="Branch ID" aria-label="Brid" aria-describedby="basic-addon1">
			</div>
		    <div class="input-group mt-2">
				  <div class="input-group-prepend">
				    <span class="input-group-text btn-round"  >New Phone</span>
				  </div>
				  <input type="text" class="form-control btn-round" id = "phone" placeholder="Phone Number" aria-label="phone" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center mt-2">
	    			<button type="button" class="btn btn-sm btn-dark btn-round" id = "org" onclick="upddonor(this.id)"> Update </button>
			</div>
			
		</div>
	</div>
</div>
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content btn-round">
      <div class="modal-header topradius pt-2 pb-2">
        <h4 class="modal-title mx-auto pl-4" id="modalhead"></h4>
        <button type="button" class="close" id = "btnclose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
 		<h4 id="modalbody"></h4>
 	</div>
    </div>
  </div>
</div>
