<!DOCTYPE html>
<html>
<head>
	<title>Blood Donation</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customcss.css') }}"> 
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/bootstrap.css"> 
 	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/all.css">
 	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/customcss.css"> 
</head>
<body class = "font2"> 
	
<div class="container ">
  <div class="row justify-content-md-center">
   <!--  <div class="col-md-5">
		<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Address</button>
		<div class="dropdown-menu">
			<form class="dropdown-item">
			    <div class="form-row">
			    	<div class="col-sm-5">
				      	<input type="text" class="form-control btn-round" id="oid" placeholder="Org ID">
					</div>
			
			   		<div class="col-sm-5">
						<input type="text" class="form-control btn-round" placeholder="Branch ID">
					</div>
				</div>
			</form>

			<div class="input-group dropdown-item">
				<div class="input-group-prepend">
					<span class="input-group-text" >New Address</span>
				</div>
				<input type="text" class="form-control" placeholder="Address" aria-label="addr" aria-describedby="basic-addon1">
			</div>
			<div class="input-group dropdown-item">
				<div class="input-group-prepend">
					<span class="input-group-text" >New Distance</span>
				</div>
				<input type="text" class="form-control" placeholder="Address" aria-label="addr" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center dropdown-item">
	    		<button type="button" class="btn btn-dark btn-round"> Update </button>
			</div>
		</div>
	</div> -->


    <div class="col-md-5 mt-5">
		<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phone Number</button>
		<div class="dropdown-menu">
		    <div class="input-group dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >Org ID</span>
				  </div>
				  <input type="text" class="form-control" placeholder="OID" aria-label="OID" aria-describedby="basic-addon1">
			</div>
			<div class="input-group dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text" >Branch ID</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Branch ID" aria-label="Brid" aria-describedby="basic-addon1">
			</div>
		    <div class="input-group dropdown-item">
				  <div class="input-group-prepend">
				    <span class="input-group-text"  >New Phone</span>
				  </div>
				  <input type="text" class="form-control" placeholder="Phone Number" aria-label="phone" aria-describedby="basic-addon1">
			</div>
			<div class = "text-center dropdown-item">
	    			<button type="button" class="btn btn-sm btn-dark btn-round"> Update </button></a>
			</div>
		</div>
	</div>

</div>

  </div>
</div>


<!-- 	<script type="text/javascript" src = "{{url_for('static',filename='javascript/bootstrap.bundle.min.js')}}"></script>

     <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/bootstrap.bundle.min.js"></script>


	<script type="text/javascript" src = "{{url_for('static',filename='javascript/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='javascript/scripts.js')}}"></script>
     <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/scripts.js"></script>
    <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/jquery-3.3.1.min.js"></script>
 -->

</body>
</html>

