<!DOCTYPE html>
<html>
<head>
	<title>Blood Donation</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customcss.css') }}"> 
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/bootstrap.css"> 
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/all.css">
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/customcss.css">
</head>
<body >
<div class="font2">
<h3> View By </h3>
<button onclick="viewdonor()">All donors</button>
<button >blood type</button>
<button>bid</button>
<button>did</button>
<button>date</button>
<button>name</button>

</div>

<script>
var url = "{{url_for('static',filename='javascript/jquery-3.3.1.min.js')}}";
$.getScript(url);
</script>

<script>
var url = "{{url_for('static',filename='javascript/scripts.js')}}";
$.getScript(url);
</script>


    
	<!-- <script type="text/javascript" src = "{{url_for('static',filename='javascript/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='javascript/scripts.js')}}"></script>
        <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/scripts.js"></script>
  -->

</body>
</html>