
<div class="font2 text-center">
	<button class="btn  btn-round btn-lg font1 mb-3" type="button" id ="h3">Selection Categories</button>


	<div class="container">
  		<div class="row mt-3 justify-content-md-center">
    		<div class="col-md-5">
    			<button type = "button" class="btn btn-info btn-lg btn-block " onclick="viewallorg()">Organisations</button>
    		</div>

    		<div class="col-md-5">
				<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Branch </button>
				<div class="dropdown-menu">
				    <div class="input-group mb-2 mt-2 dropdown-item">
						  <div class="input-group-prepend">
						    <span class="input-group-text">Organisation ID</span>
						  </div>
						  <input type="text" class="form-control" placeholder="OID" aria-label="OID" aria-describedby="basic-addon1" id = "oid">
					</div>
					<div class = "text-center dropdown-item">
			    			<button type="button" class="btn btn-dark btn-round" onclick="viewanorg()"> Search </button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

