
<div class = "font2 text-center">
  <button class="btn  btn-round btn-lg font1 mb-4" type="button" id ="h3">Nearest Locations</button>

  <table class="table table-hover text-white">
    <thead>
    <tr>
      <th scope="col">Donor ID</th>
      <th scope="col">Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Gender</th>
      <th scope="col">Blood Group</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Weight</th>
      <th scope="col">Blood ID</th>
      <th scope="col">Haemoglobin</th>
      <th scope="col">WBC</th>
      <th scope="col">RBC</th>
      <th scope="col">Platelets</th>
      <th scope="col">Date</th>

    </tr>
    </thead>
    <tbody class = "btn-round">
      {% for row in data %}
            <tr class = "btn-round"> 
            {% for d in row %}
                <td>{{ d }}</td>
            {% endfor %}
            </tr>
      {% endfor %}
    </tbody>
  </table>
</div>