<!DOCTYPE html>
<html>
<head>
	<title>Blood Donation</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/customcss.css') }}"> 
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/bootstrap.css"> 
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/all.css">
	<link rel="stylesheet" type="text/css" href="file:///home/anusha/blooddonation/LookUpBloodDB/static/css/customcss.css">
</head>
<body >
<div class="font2">
<button class="btn  btn-round btn-lg font1 mb-4" type="button" id ="h3">Selection Categories</button>


	<div class="container">
  		<div class="row mt-3 justify-content-md-center">
    		<div class="col-md-5">
    			<button type = "button" class="btn btn-info btn-lg btn-block " onclick="viewdonor()">View All</button>
    		</div>

    		<div class="col-md-5">
				<button type="button" class="btn btn-info dropdown-toggle btn-lg btn-block " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> By Blood Group</button>
				<div class="dropdown-menu">
				    <div class="input-group mb-3 dropdown-item">
						  <div class="input-group-prepend">
						    <span class="input-group-text">Blood Group</span>
						  </div>
						  <input type="text" class="form-control" placeholder="DID" aria-label="DID" aria-describedby="basic-addon1">
					</div>
				    <div class="input-group mb-3 dropdown-item">
						  <div class="input-group-prepend">
						    <span class="input-group-text" >Hospital ID</span>
						  </div>
						  <input type="text" class="form-control" placeholder="Full Name" aria-label="FullName" aria-describedby="basic-addon1">
					</div>
					<div class = "text-center dropdown-item">
			    			<button type="button" class="btn btn-dark btn-round"> Search </button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script>
var url = "{{url_for('static',filename='javascript/jquery-3.3.1.min.js')}}";
$.getScript(url);
</script>

<script>
var url = "{{url_for('static',filename='javascript/scripts.js')}}";
$.getScript(url);
</script>


<!-- 	<script type="text/javascript" src = "{{url_for('static',filename='javascript/bootstrap.bundle.min.js')}}"></script>
 -->
     <!-- <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/jquery-3.3.1.min.js"></script> -->

    <!-- <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/bootstrap.bundle.min.js"></script> -->


<!-- 	<script type="text/javascript" src = "{{url_for('static',filename='javascript/jquery-3.3.1.min.js')}}"></script>
 --><!--     <script type="text/javascript" src="{{url_for('static',filename='javascript/scripts.js')}}"></script>
 <!<script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/scripts.js"></script> --> 
    <!-- <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/jquery-3.3.1.min.js"></script> -->




    
	<!-- <script type="text/javascript" src = "{{url_for('static',filename='javascript/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='javascript/scripts.js')}}"></script>
        <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src = "file:///home/anusha/blooddonation/LookUpBloodDB/static/javascript/scripts.js"></script>
  -->

</body>
</html>